<div class="container" >
  <div class="ordem-compra" *ngIf="idPedidoNumber === undefined">
    <form novalidate id="formulario" #formulario="ngForm"  (ngSubmit)="confirmarCompra()">
    
      
      <h5>Sua Compra</h5>
      <hr />

      <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="form-group col-sm-1">
          <img src="/assets/ofertas/1/img1.jpg" class="img-fluid">
        </div>
        <div class="form-group col-sm-6">
          Super Burger
          <br />
          Rodízio de Mini-hambúrger com opção de entrada.
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link">-</button>
              1
              <button type="button" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          29.90
        </div>
      </div>
      
      <div class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
        <div class="form-group col-sm-1">
          <img src="/assets/ofertas/4/img1.jpg" class="img-fluid">
        </div>
        <div class="form-group col-sm-6">
          Estância das águas
          <br />
          Diversão garantida com piscinas, trilhas e muito mais.
        </div>

        <div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-link">-</button>
              1
              <button type="button" class="btn btn-link">+</button>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3 d-flex justify-content-end">
          31.90
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col d-flex justify-content-end">
          <h4>Total do pedido: 61.80</h4>
        </div>
      </div>
      <br />     


      <div class="form-row"><!-- <<< DADOS DA ENTREGA -->
        
        <div class="form-group col-md-6"><!--INPUT ENDERECO-->

          <input name="endereco" ngModel #endereco="ngModel"
            type="text" 
            class="form-control" 
            placeholder="Endereço" 
            autocomplete="off"
            required minlength="3" maxlength="120"
          >
          <small *ngIf="!endereco.pristine && endereco.valid " class="form-text text-success">OK</small>
          <small *ngIf="endereco.dirty && endereco.invalid " class="form-text text-danger">Endereço inválido</small>
        </div>

        <div class="form-group col-md-2"><!--INPUT NUMERO-->

          <input #inputNumero ='ngModel' ngModel
            name="numero" type="text" 
            class="form-control" 
            required minlength="1" maxlength="10"
            placeholder="Número" autocomplete="off" 
          >

          <small *ngIf="" class="form-text text-success">Ok</small>
          <small *ngIf="!inputNumero.pristine && inputNumero.invalid" class="form-text text-danger">Campo invalido</small>
          <small *ngIf="!inputNumero.pristine && !inputNumero.invalid" class="form-text text-success">OK</small>
        </div>

        <div class="form-group col-md-4"><!--INPUT COMPLEMENTO-->

          <input name="complemento" ngModel
            type="text" 
            class="form-control" 
            placeholder="Complemento" 
            autocomplete="off"
          >
        </div>

      </div> <!--DADOS DA ENTREGA >>> -->

      <br />

      <h5>Dados de pagamento</h5> <hr />
      <div class="form-row"><!-- <<< DADOS DE PAGAMENTO-->

        <div class="form-group col-md-3">
          
          <select #formaDePagamento="ngModel" ngModel
          name="formaDePagamento"
          class="form-control"
          required
          >
            <option value="">Selecione uma opção</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Débito</option>

          </select>
          <small *ngIf="formaDePagamento.dirty && !formaDePagamento.valid" class="form-text text-danger">Forma de pagamento inválida</small>
          <small *ngIf="formaDePagamento.dirty && formaDePagamento.valid" class="form-text text-success">OK</small>
        </div>
      </div> <!--DADOS DE PAGAMENTO >>>-->

      <hr />
      
      <button  class="btn btn-primary btn-lg" id="btCofirmaCompra">
        Cofirmar compra
      </button>
      
    </form>
    
  </div>

  <div class="ordem-compra" *ngIf="idPedidoNumber !== undefined">
    <app-ordem-compra-sucesso [idDoProduto]="idPedidoNumber"></app-ordem-compra-sucesso>
  </div>

</div>