<div class="fixed-top bg-light">
  <nav class="navbar navbar-light bg-faded">
    <div class="container">

      <h1>fodase</h1>

      <div class="row">
        <div class="col-md-4">
          <a routerLink="" class="navbar-brand">
            <img src="/assets/logo.png" />
          </a>
        </div>
        <div class="col-md-6">

          <input type="text" class="form-control" 
          placeholder="Pesquise por Ofertas"
          id="inputPesquisa"
          #termoDePesquisa
          (keyup)="pesquisa(termoDePesquisa.value)">

          <ul class="list-group" style="position: absolute">

            <li class="list-group-item"  *ngFor="let iterator of ofertas | async">
              <a [routerLink]="['/oferta',iterator.id]" >{{iterator.titulo}}</a>
            </li>

          </ul>
        </div>
        <div class="col-md-2">
          <a a href=""><img src="/assets/carrinho.png" /></a>
        </div>
      </div>

    </div>
  </nav>


  <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" routerLink="restaurantes" href="#">Restaurantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="diversao" href="#">Diversão</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner">
  <img src="/assets/banners/img_1.jpg" />
</div>